
.wrapperHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerEditName {
  display: flex;
  align-items: center;
  gap: 12px;
}

h3 {
  display: flex;

  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  color: #403937;
  line-height: 130%;
}

.editIcon {
  fill: #C7C7CD;
  cursor: pointer;
}

.wrapperAvatar {
  width: 64px;
height: 64px;
border-radius: 9999px;
background-image: url('https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80');
background-position: center;
background-size: cover; 

}